Source: dtmf-dialer
Section: user/multimedia
Priority: optional
Maintainer: Jaroslav Škarvada <jskarvad@redhat.com>
Build-Depends: debhelper (>= 5), imagemagick
Standards-Version: 3.7.2

Package: dtmf-dialer
Architecture: any
Depends: python2.5, python-pygame, python-numpy, python-gtk2
Description: Simple DTMF dialer
 Simple DTMF dialer.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGP
 C/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3Cc
 ulE8AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7pAAAO6QEOM0IcAAAA
 B3RJTUUH4wcWACIXvzfUOAAADC5JREFUaN6NmetzE8nVxn89M5rR3WDjG4th
 wbDcAks27CYhW4HlTeX9f/dLapOiQj6ktpZiQ1EL8Qa8WMYX2ZYtWbKkufR0
 dz6MZEm2NcqpUkmqebr7nJ7T5zzntPj734/Mzo7CGCbK4WGNqakCtl1A60kD
 DPX6LhcunMcYb+L8SmtEa5X/n90gI8OJukgp2ZUSR0pYXZXU6wohUtQxis3N
 1/zxjw+o1TK022osVgiQMmB39zVPnz6iUhGEoU7BC7p+E7fzhv/7GvS7FYxS
 qfhqq8XPQuBYFgSB4ehIjxigNVjW8H9FEERYFvi+odUa4LUeKN7/RFGMlBIQ
 dDoa39cjc4/iBZ2u5BwxAgfdbmPieHj3BgN6BsijI1ShgDO8a32F8nmLS5cc
 KhVJFJlTz4f/WxbcuOEyPW2zsSGpVmNAnIkFcF3B9esu+bzF2lrE/r4a6NZ3
 MzFQFmNwFhcR2Sxyff3UhEN7nEgmI/jyyyxPnxYoFq1U39UalpYy3L7t4fua
 J08KlEoWZswgreHmTZfFRQetDU+fFnDdFL8FcBxyf/gDhW++wcrnOanQKQOU
 MvzrXwG1WvqZgGT3d3djvvuuzepqhFImdYxlwepqxA8/+LTbGiknnGytcRYW
 MEGAXF8nc/XqZAO0hm5X879Kt2twXcHjxwX+/e+wdzbGW9FuG0oli88/z9Lp
 6InRzLt7F+IYHQR4d+6A44w8t84aJI4PS7ryxkCpZPHkSZ5KJeLNm8nh78YN
 lzA0fPvtEbOzDlNT9tluagzW1BSZxUV0EIAQWIUCzvz8IAoAzokxFAoWX32V
 5cIFm9/+NscPP/jUameHNGPg6tUMCwsOQWBYWHD48ceAVkuPxXue4MmTPL5v
 aDTUqeg3DHYuXiT68IHu8+cYYzDtNplPPkFtb59tgBAQhobXr0Nevw4RAtrt
 ZIGzdsmy4P37iK2tGMvqu58Z60JCwMpKyPZ2jOsKDg8VUo7BWxayUkF++AC2
 jQDCt28RrosYiu9OYqzGmGTX4hgODtTIon1MP84N430ffH8cPvmvtUbrwU43
 GvoEVhzjDaC1SSKZ74/6cRyDlAgh0MZgAKdWO6JW28T3hxLH2Q5ANltgf79N
 vX5AGKp0tFFks0Wq1QbNZgel0gKDIFYSL59nb3ONbrs9NhQnaOhqzVQ+j+M4
 Ga5eXRg+F2Ol0XDwvBzXr89MjB7GaOp1m3w+z82bUxO5UKwUTqtNsXzA+Vu3
 JuoSRhG7gDM9nUPKxG3Soo7WMdvbFa5d+w3VapZWKx0vpU+tts7t25dZXXVT
 uRAIun4D16+Svz2FtbU+kQvtN5tsZDI4YIgiQ7c78NH+oTVmkLWV0kiZTBqG
 Bt8fHG6tGRkrhEBKhVIJyw2CUS40/Db6eN9X2FpjtED7/oAL9cFDygghUL6P
 tu2zuZAxMD/vMDtr8/ZtePz8tJvA+fM29+55ALRamjdvQk5u3vDclgV37njM
 zjqsrUVUKvKsF5Io6jhkf/1rRDYLShGtrxNvbaVzoX6sfvw4z4MH2QkUG+bn
 baanbSoVyc5OnHr4tIblZZfLlzNUKhHT0/YI4z05uXBdvLt3iXd2UK0WhadP
 EbncyCs8c/j9+1n29xXN5mQ+5HmCYtHi008zTE1ZEw/r0lIGy0q+Wy09OXgI
 gchmsXI59NFREkqHZMQAY+DKlQwXLzp8/CjJZq1UtigEbG/HvHoVUKlIHj7M
 MT/vpL6FXE7Q7RpWVyO+/DJLuWyRKraNXS4jXDdRuFAYbwAkVEJrw507Hp98
 4jA766TuquMIGg3F9rYkDM1EelyvK7pdzcGBQmuwbZE6v+l2CX76Cf/FC4Tj
 YM/OjrjQKSqxshKyshJy7pzN4aHH1pYcSyX68tVXOeLYUK8rqtU4lUq8fRvy
 9dd5/vznIhsbcc9Nz8YbpTBRROHJE4zWqEYDubExElEcxkizqfj+e7/no+MV
 qlZj/vKXNq6buEaS4MQIZvh3s6n52986Pbw+jo4nZgYhMFHE0bffIhwHtEaH
 YcJSTxqgtUSpeCQiGJOcl0HdGwMJR9FaonV8/CzhQ8MKix4+4UFKSZQa5Jkg
 SD5n4Y0xxEoNEtmJQ4sQCJIuBoBTrTap1TaPk1SaFIvn2N1t02gcTMQboykU
 zrG1VefoqPs/tGEUhWyJ3Y8r+H53UB+Pkci2mS6VcAqFHDduXCaOJzeGarV1
 yuUCxeICcZwe/4zR7O2tMT09RT4/N8EAgYwlHDaZnpvDLXjpZE4IukHAplI4
 5bJHt6sm1sBax1Sr69y4McfmpkOzGafgBVKGHBxs8KtfXWNz0yYI0vtCnW6X
 bLSDdzeP+OU/qVzIEoJms8lWNptwoTiGKDLjsyIJR+/vYhybXiEyiE79gqZv
 lJQ6qaIMSJnwrUl4z4DRBqQcGNBvUCWEDIRAC4GWEjxvlAsZA7Oz9jGF8DzB
 y5dBr9dzlpskPaQvvsiSywn29hRv3gSnsmufuhgDU1MWDx/mcF3BykpIpSJP
 v0kxWCBz5UpSzNs26vCQ4NWrkULHOrlQq6V59Srg558jCgXruLE1zoDr1zMU
 ixYvXvjcvetx7pw91n+NgS++yOH7mrdvQx4+zJHNirGT2zMz5B8/Jlpdxf/+
 e0QmQ+bSpXQuFEWGvT3F3JzN+/dJ52ycrwuR1BFTUxYPHmQJAk2nk95Wcd2k
 zq7XFaWSRT4/hj9pTebSJVStRvjuHapep/uPfxD98stIz/NMNlosWiwtZXj3
 LprIRksli05HHxuaKHT2GxACfvop5No1l0ePcmQyYkwiGxow5FGn+pvjDFhY
 sIkiM77lMSQXLjg0m5r37yMsK2GmaaIUvHkT8uGDZH8/Ht9Esyzk1hb2/DyZ
 q1exikVyv/sd3mefje8LDS/y8aNkkvS5zcOHWb75Js/2dlITpLmQMYabN12M
 gR9/DAjDMW0VIVC1Gv4//0n2888TvZrNpMF7kkoM/gssCzY24t4c4zlQ/3mj
 oXj2rIvjcNzrTMYNd/cGbfG9PcV333WAJByLXok4PLdAYHr4aHUVubYGto2R
 yaaOcCGtIQwDZK/fMk60jjEmqY2jyCeOB4ksySOMKBzHQY9PKaIoJor0CP7E
 lhDHEQiQMiaWESZWnDmgx4WiXp5wDg/30HqDcnmyv5dKRer1NkFwiG2n4y3L
 kMvNcXi4g+d1cd10qlIoamadAgfb/yGEU03ck2KKRRZnZnA++8ynXNYold7Y
 MsawtraHbS9TKCwhZboBSin2999y/36I4yj0hNoxjCT1tX3m8hdxClkmyZHv
 U5ESJ5t1kLLD0dERabw/jhVbWxWWl3/P/r7h8FBN4EI+rdYWnrdMq3VIFI0P
 CkIIWq0W9f1d7GvX0Ftbo1dMJ9+uEDSaTXbzeZykr5PwHDE+KR7zGkiiWJ/H
 GJPklUxGjGTtfmEzGJvuQtqYZPuSg3YcKoVtg2Ul3CiOk99DpOpMR7MsC9u2
 e5d046Xfjn/0KEcuZ7GzE/PypZ9e4xrDzMwM3W6XYrFIvV4/bVxPQXtmhsKf
 /oTudMAYZKVCuLIyquvJBRzHYXZ2luXlZVzXnRDTkzsvpeDZsw6XL2e4cMFO
 3e1yuczi4iIzMzPMz8+TyWTOxhuT9ICEoPv8OcHLl3j37uEuL48kslMGXLly
 hVu3brG0tMS9e/fwPC/1LZw/b7O7G9NqKdptPf7GZWiD+t9xHE90LeIY3e0i
 t7eJ3r0jc+VKOpmrVqsopXpJZ4+gX7yOEa2TOqLPadL0EUJQKBQQQpDNZo/v
 DSZKb1LhecfJ7HhDTmMNHz9+xPd9LCshZmlutLOjuHYtw8FBwi7Tutz93W40
 GuRyORqNRu/iI6V5lsvhLCxgTU3hLi/TefYsva3i+z7rvQvlk2n+pPSvTUsl
 i/v3s7x6FfTC65g+jzE0m02iKCKXy9FqtcYbIAS61SLe3cW7exejFJ3nz4mr
 1dNXTH1FB7eTE1IyA64Tx/DiRXDsPsk8fYwZ4UKWZfXyDYRhOLJWf0UxIFqY
 oyO6f/1r8tsMeNawdk4cx3Q6HTqdTqriqsc9pIzx/RZhKFMTWRwHgCAMIzqd
 NlGUzrWCnkGB7xMEQfoFBxBIiQCcbreLlJJMJjN+gBA4jsPy8jJSSsrlOsXi
 pLaKwfOWCEMfEBPnL5dKLOTzNFst/Lk5JomtNZ/OzfFfl8gGuugJhOAAAAAl
 dEVYdGRhdGU6Y3JlYXRlADIwMTktMDctMjFUMjI6MzQ6MjMrMDI6MDAsh/Xk
 AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTA3LTIxVDIyOjM0OjIzKzAyOjAw
 XdpNWAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAA
 SUVORK5CYII=
